[submodule "webapp"]
	path = webapp
	url = https://github.com/Madek/madek-webapp.git
[submodule "api"]
	path = api
	url = https://github.com/Madek/madek-api.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/Madek/madek-documentation.git
[submodule "madek-deploy"]
	path = deploy
	url = https://github.com/Madek/madek-deploy.git
[submodule "integration-tests"]
	path = integration-tests
	url = https://github.com/Madek/madek_integration-tests.git
[submodule "admin-webapp"]
	path = admin-webapp
	url = https://github.com/Madek/madek_admin-webapp.git
[submodule "api-docs_source"]
	path = api-docs_source
	url = https://github.com/Madek/madek_api-docs_source.git
[submodule "api-docs"]
	path = api-docs
	url = https://github.com/Madek/madek_api-docs.git
