.DS_Store
/config/releases.yml
/config/settings.local.yml
/madek_v3
/media-service
/reverse-proxy
/storage
/tmp
config/git_refs.yml
datalayer.tar.gz
deploy-info.yml
exporter/
zhdk_integration/
madek-api-v2/
.vscode/
